<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>club-home</title>
    <!--
      <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css">
    -->
    <link
      rel="stylesheet"
      href="/public//font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/stylesheets/nomalize.css" />
    <link rel="stylesheet" href="/public/stylesheets/layout.css" />
    <link rel="stylesheet" href="/public/stylesheets/common.css" />
    <link rel="stylesheet" href="/public/stylesheets/index.css" />
    <link rel="stylesheet" href="/public/javascripts/pager/pager.css" />
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-6  col-sm-12">
              <a class="brand float-left" href="/">
                <img
                  src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg"
                />
              </a>
              <form
                id="width-md "
                class="width-xs-sz float-left search-form"
                action=""
              >
                <i class="fa fa-search"></i> <input class="search-input" />
              </form>
            </div>
            <div class="col-md-6  col-sm-12">
              <ul class="menu-row pull-left-sm pull-right-md">
                <li><a href="/">首页</a></li>
                <li><a href="/">新手入门</a></li>
                <li><a href="/">API</a></li>
                <li id="linkToRegister"><a href="/register">注册</a></li>
                <li id="linkToLogin"><a href="/login">登录</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main  container">
      <div class="row">
        <div class="topic col-md-9 col-sm-12">
          <div class="tab">
            <div class="tab-header">
              <ul class="menu-row tab-header-item">
                <li class="topic-cls-item"><a href="">全部</a></li>
                <li class="topic-cls-item"><a href="">精华</a></li>
                <li class="topic-cls-item"><a href="">分享</a></li>
                <li class="topic-cls-item"><a href="">问答</a></li>
                <li class="topic-cls-item"><a href="">招聘</a></li>
                <li class="topic-cls-item"><a href="">客户端测试</a></li>
              </ul>
            </div>
            <div class="tab-content">
              <!-- 各个模块的内容 -->
              <div class="tab-content-item">
                <div id="topicList" class="list">
                  <div id="listItemTemp" class="list-item dom-template">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="topic-wraper">
                      <a class="author-avatar" href="">
                        <img
                          title="test"
                          src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                        />
                      </a>
                      <span class="topic-reply">
                        <span class="reply-count">25</span>
                        <span class="visit_count">1000</span>
                      </span>
                      <span class="topic-status active">置顶</span>
                      <a class="topic-title" href="#"
                        >这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title这个是测试title</a
                      >
                      <div class="other-info-wraper">
                        <a class="last-replyer-avatar" href="">
                          <img
                            title="test"
                            src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120"
                          />
                        </a>
                        <span class="update-time">1小时前</span>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="list-page">
                  <ul id="pager" class="pager-bar ">
                    <li class="pager-item pager-arrow-item">《</li>
                    <li class="pager-item pager-num-item">1</li>
                    <li class="pager-item pager-num-item">2</li>
                    <li class="pager-item pager-num-item">3</li>
                    <li class="pager-item pager-num-item">4</li>
                    <li class="pager-item pager-num-item">5</li>
                    <li class="pager-item pager-dot-item">...</li>
                    <li class="pager-item pager-arrow-item">》</li>
                  </ul>
                </div>
              </div>

              <div class="tab-content-item"></div>

              <div class="tab-content-item"></div>

              <div class="tab-content-item"></div>

              <div class="tab-content-item"></div>

              <div class="tab-content-item"></div>
            </div>
          </div>
        </div>

        <!-- 广告，以及一些连接 -->
        <div class="ads col-md-3 col-sm-0">
          <div class="card">
            <div class="card-content">
              <p>CNode：Node.js专业中文社区</p>
              <br />
              <p class="font-gray">
                你可以 <a class="link-gray" href=""> 登录 </a> 或
                <span class="link-gray">注册</span> 也可以
              </p>
              <p><button class="btn primary-btn">通过 github 登录</button></p>
            </div>
          </div>
          <br />
          <div class="card">
            <div class="card-content">
              <p>
                <img
                  src="https://render.alipay.com/p/s/taobaonpm_click/image_25"
                />
              </p>
              <p>
                <img src="//static.cnodejs.org/FlajCCXkxZaOsuWp3k0iaiqfrJaS" />
              </p>
              <p>
                <img src="//static.cnodejs.org/Fv9R31Y6ySKKJi95ldk9TRkJ7o5O" />
              </p>
              <p>
                <img src="//static.cnodejs.org/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_" />
              </p>
            </div>
          </div>
          <br />
          <div class="card">
            <div class="card-header">无人回复的话题</div>
            <div class="card-content">
              <p><a href="">Tutorial：五分钟做一套GraphQL API，不写</a></p>
              <p><a href="">Tutorial：五分钟做一套GraphQL API，不写</a></p>
              <p><a href="">Tutorial：五分钟做一套GraphQL API，不写</a></p>
              <p><a href="">Tutorial：五分钟做一套GraphQL API，不写</a></p>
            </div>
          </div>
          <br />
          <div class="card">
            <div class="card-header">积分榜 <a href="">Top 100 >></a></div>
            <div class="card-content">
              <p>
                <span>20192</span>
                <a href="">Tutorial：五分钟做一套GraphQL API，不写</a>
              </p>
              <p>
                <span>20192</span>
                <a href="">Tutorial：五分钟做一套GraphQL API，不写</a>
              </p>
            </div>
          </div>
          <br />

          <div class="card">
            <div class="card-header">友情社区</div>
            <div class="card-content">
              <ol class="row-list">
                <li>
                  <a href="https://ruby-china.org/" target="_blank">
                    <img
                      class="small-img"
                      src="//static2.cnodejs.org/public/images/ruby-china-20150529.png"
                    />
                  </a>
                </li>
                <li>
                  <a href="http://golangtc.com/" target="_blank">
                    <img
                      class="small-img"
                      src="//static2.cnodejs.org/public/images/golangtc-logo.png"
                    />
                  </a>
                </li>
                <li>
                  <a href="http://phphub.org/" target="_blank">
                    <img
                      class="small-img"
                      src="//static2.cnodejs.org/public/images/phphub-logo.png"
                    />
                  </a>
                </li>
                <li>
                  <a href="https://testerhome.com/" target="_blank">
                    <img
                      class="small-img"
                      src="//static.cnodejs.org/FjLUc7IJ2--DqS706etPQ1EGajxK"
                    />
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer col-md-12 col-sm-0">
      <div class="footer-content">
        <p><a href="">RSS</a> | <a href="">源码地址</a></p>
        <p>
          CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js
          的技术研究。
        </p>
        <p>
          服务器赞助商为<a href=""><img src="" alt=""/></a>
        </p>
        <p><a href="">RSS</a> | <a href="">源码地址</a></p>
      </div>
    </div>
    <script
      src="/public/libs/require.js"
      data-main="public\javascripts\index"
    ></script>
    <!--
      <script src="/public/javascripts/index.js"></script>
      <script src="/public/libs/jquery-2.1.0.js"></script>
    -->
  </body>
</html>
