body {
  background: #99e7ff;
}

.card {
  margin: 0 auto;
  width: 500px;
}
.icon {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 100px;
  color: white;
  text-align: center;
}

.icon i {
  margin: 0 auto;
}

.icon2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 80px;
  color: #75d4fa;
  text-align: center;
}

.btn-list {
  margin: 0 auto;
  text-align: center;
}

.btn-list .btn {
  width: 20%;
  min-width: 100px;
}
